.portfolio-sidebar-list-wraper{

    .portfolio-item-thumb{
        padding: 21px;
        .portfolio-thumb-img img{ 
            width: 100%;
        }
        .title{
            color: goldenrod;
        }
    }
}
